/* Font */
@font-face {
  font-family: 'Cloister Black';
  font-style: normal;
  font-display: block;
  src: url(/fonts/cloister-black.woff2) format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/eb-garamond.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  /* Cool background patern from: https://heropatterns.com/ */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%233d2f1b' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #222;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #3d2f1b;
  font-weight: bold;
}

h1 {
  font-family: 'Cloister Black', serif;
  color: #3d2f1b;
  font-weight: normal;
  text-align: center;
  font-size: 2.3em;
  text-transform: capitalize;
}

h2 {
  font-family: 'EB Caramond', serif;
  color: #3d2f1b;
  text-align: center;
  font-style: italic;
  font-size: 1.4em;
  margin: 0.83em 0;
}

h2 + h2 {
  margin-top: -0.83em;
}

h3 {
  font-family: 'EB Caramond', serif;
  color: #3d2f1b;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-weight: bold;
  text-align: center;
}

/* Page */
main {
  margin: 0.5em;
}

.sheet {
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
  max-width: 784px;
  animation: fadeIn 1s;
  background-color: #fffdec;
  border-radius: 4px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Images */
figure {
  margin: 0.5em 0;
}

figure img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.postcard-center, .postcard-right, .postcard-left {
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {

  .postcard-right {
    width: 366px;
    height: 275px;
    margin-left: 1em; 
    float: right;
  }

  .postcard-left {
    width: 366px;
    height: 275px;
    margin-right: 1em; 
    float: left;
  }

}

/* Navbar */
.navbar {
  margin: 2rem auto;
  max-width: max-content;
}

.navbar h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1;
}

.navbar-logo {
  width: 80px;
  height: 80px;
  margin: auto;
}

/* Tab Menu */
.tab-menu {
  margin: 0 0.5em 1em 0.5em;
}

.tab-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.tab-menu li {
  display: block;
}

.tab-menu a {
  text-align: center;
  display: block;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  border: 0 solid #3d2f1b;
  border-width: 1px 2px 1px 2px;
  color: #3d2f1b;
  margin: 0;
  padding: 0.25em 1em;
  transition: color, background 0.5s;
}

.tab-menu li:first-child a {
  border-top-width: 2px;
  border-radius: 4px 4px 0px 0px;
}

.tab-menu li:last-child a {
  border-bottom-width: 2px;
  border-radius: 0px 0px 4px 4px;
}

.tab-menu a.active, .tab-menu a:hover {
  background-color: #3d2f1b;
  color: #fffdec;
}

@media screen and (min-width: 550px) {

  .tab-menu a {
    border-width: 0px 1px 2px 1px;
    color: #3d2f1b;
  }

  .tab-menu ul {
    border-top: 2px solid #3d2f1b;
    flex-direction: row;
  }

  .tab-menu li:first-child a {
    border-width: 0px 1px 2px 2px;
    border-radius: 0px 0px 0px 4px;
  }

  .tab-menu li:last-child a {
    border-width: 0px 2px 2px 1px;
    border-radius: 0px 0px 4px 0px;
  }

}

hr {
  background-color: #3d2f1b;
  height: 2px;
  width: 366px;
  border: none;
  margin: 0;
}

/* Footer */
.footer {
  text-align: center;
  color: #fffdec;
  background-color: #3d2f1b;
  padding: 2rem;
  margin-top: 2rem;
}

.footer-menu ul {
  font-size: 1em;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.footer-menu a {
  margin: 0 0.5em;
  padding: 0 0.25em;
  color: #fffdec;
  font-weight: bold;
  text-decoration: none;
  display: block;
  position: relative;
}

.footer-menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fffdec;
  transition: opacity 300ms, transform 300ms;
}

.footer-menu a:hover::after, a:focus::after {
  opacity: 1;
  transform: scale(1.2);
}

.footer-menu a::after {
  transform: scale(1);
  transform-origin: center;
}

/* Buttons */
.button {
  color: #fffdec;
  background-color: #3d2f1b;
  padding: 0.5em 2em;
  border-radius: 4px;
  margin: 0.5em auto;
  display: block;
  width: fit-content;
  text-decoration: none;
}

.button:hover, .button:active {
  background-color: #523F24;
}
}
